.PanelTitle {
  color: black;
}

.panel-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.left-subtitle-container {
  display: flex;
  flex-direction: column;
}

.margin-right {
  margin-right: 10px;
}

.buttons-container {
  margin-top: 10px;
}

.hidden {
  display: none;
}
